<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="/css/style.css" rel="stylesheet">
    <title>I Choose You</title>
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" sizes="64x64">
    <script src="https://kit.fontawesome.com/c9df24baca.js" crossorigin="anonymous"></script>
  </head>
  
  <body style="background-image: url('<%= bg %>'); background-size: cover;">
    <% include("partials/functions.ejs") %>
    <%- include("partials/menu.ejs") %>

    <!-- dex num input box -->
    <form action="/choose" method="GET">
      <div id="chooseCard" class="card column">
        <h3>Enter a Pokédex number from 1 - <%= nationalDexCap %></h3><br>
        <input name="chooseNum" type="number" step="1" min="1" max="<%= nationalDexCap %>"><br>
        <button type="submit">Submit</button>
      </div>
    </form>
      
    <br><br>
      
    <div class="row card">
      <div class="column">
        <% if(pokemon) { %>
          <h1 id="cardHeader"><%= pokemon.name + " #" + pad(pokemon.id) %></h1>
          
          <!-- pokemon variant tabs -->
          <% if(variants.length > 1) { %>
            <div id="tabRow">
              <% for(let i = 0; i < variants.length; i++) { %>
                <button class="tab" value="<%= i %>">
                  <%= variants[i].name %>
                </button>
              <% } %>
            </div>
          <% } %>

          <!-- pokemon sprite and cry -->
          <img id="sprite" class="displayImg" src="<%= variants[0].sprite %>">
          <i class="fa-solid fa-volume-high fa-2xl center" id="cry" data-value="<%= cry %>"></i>
        <% } else { %>
          <h1>???</h1>
          <img id="sprite" class="displayImg" src="/img/wtp.png">
        <% } %>
      </div>

      <!-- specific pokemon details, first variant as default on submit -->
      <div class="column pokemonDetails">
        <h4 class="item" id="type">Type: ???</h4>
        <h4 class="item" id="genus">Species: ???</h4>
        <h4 class="item" id="height">Height: ???</h4>
        <h4 class="item" id="weight">Weight: ???</h4>
        <h4 class="item" id="abilities">Abilities: ???</h4>
        <h4 class="flavor" id="flavorText"></h4>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="module">
      import {changeToVariantMiddle} from "./js/script.js";
      
      // changes info based on variant tab
      const changeToVariant = (id) => {
        if(id == 0) {
          changeToVariantMiddle(<%-JSON.stringify(variants)%>[0], true);
          return;
        }
        changeToVariantMiddle(<%-JSON.stringify(variants)%>[id], false);
      }

      //sets event listeners for tabs and audio
      const init = () => {
        $(".tab").click(function() {
          changeToVariant($(this).val());
        });

        $("#cry").click(function() {
          new Audio($("#cry").attr("data-value")).play();
        });

        if(<%-JSON.stringify(pokemon)%>) {
          changeToVariant(0);
        }        
      }
      
      init();
      
    </script>
  </body>
</html>