<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="/css/style.css" rel="stylesheet">
    <title>Home</title>
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" sizes="64x64">
  </head>
  
  <body style="background-image: url('<%= bg %>'); background-size: cover;">
    <% include("partials/functions.ejs") %>
    <%- include("partials/menu.ejs") %>
      
    <div class="row card">
    
      <div class="column">
        <!-- pokemon name and nat dex num -->
        <h1 id="cardHeader">
          <%= pokemon.name + " #" + pad(pokemon.id) %>
        </h1>

        <!-- pokemon variant tabs -->
        <% if(variants.length > 1) { %>
          <div id="tabRow">
            <% for(let i = 0; i < variants.length; i++) { %>
              <button class="tab" value="<%= i %>">
                <%= variants[i].name %>
              </button>
            <% } %>
          </div>
        <% } %>

        <!-- pokemon sprite and cry -->
        <img id="sprite" class="displayImg" src="<%- variants[0].sprite %>">
        <audio
          controls
          style="margin: 0 auto;
          display: block;
          margin-bottom: 40px;
          margin-top: 40px;"
          src="<%= cry %>"
        >
          Your browser does not support the
          <code>audio</code> element.
        </audio>
      </div>

      <!-- specific pokemon details, first variant as default -->
      <div class="column pokemonDetails">
        <h4 class="item" id="type"></h4>
        <h4 class="item" id="genus"></h4>
        <h4 class="item" id="height"></h4>
        <h4 class="item" id="weight"></h4>
        <h4 class="item" id="abilities"></h4>
        <h4 class="flavor" id="flavorText"></h4>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="module">
      import {changeToVariantMiddle} from "./js/script.js";

      // changes info based on variant tab
      const changeToVariant = (id) => {
        if(id == 0) {
          changeToVariantMiddle(<%-JSON.stringify(variants)%>[0], true);
          return;
        }
        changeToVariantMiddle(<%-JSON.stringify(variants)%>[id], false);
      }

      //sets event listeners for tabs
      const init = () => {
        $(".tab").click(function() {
          changeToVariant($(this).val());
        });
        changeToVariant(0);
      }
      
      init();

    </script>
  </body>
</html>