<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="/css/style.css" rel="stylesheet">
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <script src="https://kit.fontawesome.com/c9df24baca.js" crossorigin="anonymous"></script>
  </head>
  
  <body style="background-image: url('<%= bg %>'); background-size: cover;">
    <% include("partials/functions.ejs") %>
    <%- include("partials/menu.ejs") %>
      
    <div class="row card">
      
      <div class="column">
        <div class="row">
          <!-- pokemon name and nat dex num -->
          <h1 id="cardHeader">
            <%= pokemon.name + " #" + pad(pokemon.id) %>
          </h1>

          <input type="image" id="shinyBtn" src="/img/shinyIcon.png" data-value="nonShiny"/>
        </div>

        <!-- pokemon variant tabs -->
        <% if(variants.length > 1) { %>
          <div id="tabRow" data-value="-1">
            <% for(let i = 0; i < variants.length; i++) { %>
              <button class="tab" value="<%= i %>">
                <%= variants[i].name %>
              </button>
            <% } %>
          </div>
        <% } %>

        <!-- pokemon sprite and cry -->
        <img id="sprite" class="displayImg" src="<%- variants[0].sprite %>">
        <i class="fa-solid fa-volume-high fa-2xl center" id="cry" data-value="<%= cry %>"></i>

      </div>

      <!-- specific pokemon details, first variant as default -->
      <div class="column pokemonDetails">
        <h4 class="item" id="type"></h4>
        <h4 class="item" id="genus"></h4>
        <h4 class="item" id="height"></h4>
        <h4 class="item" id="weight"></h4>
        <h4 class="item" id="abilities"></h4>
        <h4 class="flavor" id="flavorText"></h4>
      </div>

      <!-- refresh button -->
      <a href="/">
        <i class="fa-solid fa-rotate fa-xl" id="refreshBtn"></i>
      </a>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="module">
      import {changeToVariant, onShinyBtnClick} from "./js/script.js";

      //sets event listeners for tabs, audio, and shiny toggle
      const init = () => {
        var hasVariants = $("#tabRow").length ? true : false;

        $(".tab").click(function() {
          changeToVariant(<%-JSON.stringify(variants)%>[$(this).val()], $(this).val(), hasVariants);
        });

        $("#cry").click(function() {
          new Audio($("#cry").attr("data-value")).play();
        });

        $("#shinyBtn").click(function() {
          if(hasVariants) {
            onShinyBtnClick(<%-JSON.stringify(variants)%>[$("#tabRow").attr("data-value")]);
          } else {
            onShinyBtnClick(<%-JSON.stringify(variants)%>[0]);
          } 
        });

        changeToVariant(<%-JSON.stringify(variants)%>[0], 0, hasVariants);
      }
      
      init();

    </script>
  </body>
</html>