<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="/css/style.css" rel="stylesheet">
    <title>Sound Wrong Results</title>
  </head>
  
  <body style="background-image: url('<%= bg %>'); background-size: cover;">
    <% include("partials/functions.ejs") %> 
    <header><h1>Welcome to the Pokédex!</h1></header>
    <%- include("partials/menu.ejs") %>
      
    <div class="column card">
      <h1>Guess the Pokémon By Its Cry</h1> <br>
        <audio
          controls style="margin: 0 auto; display: block; margin-bottom: 40px;"
          src="<%= cry %>">
          Your browser does not support the
          <code>audio</code> element.
        </audio>
      
      <div class="row">
        <% for(let i = 0; i < 4; i++) { %>
          <% if(i == cryIndex) { %>
            <form action="/soundCorrectResults" method="GET">
          <% } else { %>
            <form action="/soundWrongResults" method="GET">
          <% } %>
          <button type="submit" class="column cryMargins">
            <img class="displaySmallImg" src="<%= sprites[i] %>">
            <div class="chooseName"> <h2><%=capitalize(names[i]) %></h2></div>
          </button>
            </form>
        <% } %>
      </div>
      <div><h2 class="incorrect"><%= message %></h2></div>
    </div> 
  </body>
</html>