<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="/css/style.css" rel="stylesheet">
    <title>Sound Enthusiast</title>
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" sizes="64x64">
  </head>
  
  <body style="background-image: url('<%= bg %>'); background-size: cover;"> 
    <%- include("partials/menu.ejs") %>
      
    <div class="column card">
      <h1>Guess the Pokémon By Its Cry</h1> <br>

      <!-- pokemon cry -->
      <audio
        controls style="margin: 0 auto; display: block; margin-bottom: 40px;"
        src="<%= cry %>">
        Your browser does not support the
        <code>audio</code> element.
      </audio>

      <!-- pokemon options -->
      <div class="row">
        <% for(let i = 0; i < pokemon.length; i++) { %>
        <button class="column cry sound<%= i %>" value="<%= i %>">
          <img class="displaySmallImg" src="<%= pokemon[i].sprite %>">
          <div class="chooseName"> 
            <h2><%= pokemon[i].name %></h2>
          </div>
        </button>
        <% } %>
      </div>
      <div><h2 id="resultMsg"></h2></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      //sets event listeners for tabs
      const init = () => {
        $(".cry").click(function() {
          checkAnswer($(this).val());
        });
      }
      
      init();

      //checks answer
      const checkAnswer = (index) => {
        if(index == <%- cryIndex %>) {
          $(`.sound${index}`).attr("id", "correctBtn");
          $(".cry").attr("disabled", true);
          $('#resultMsg').removeAttr("class");
          $("#resultMsg").text("Correct!");
          $("#resultMsg").addClass("correctMsg");
        }

        else {
          $(`.sound${index}`).addClass("incorrectBtn");
          $(`.sound${index}`).attr("disabled", true);
          $("#resultMsg").text("Try again.");
          $("#resultMsg").addClass("incorrectMsg");
        }
      }
    </script>
  </body>
</html>